footer {
    background-color: rgb(223, 234, 229);
    display: flex;
    column-gap: 40px;
    row-gap: 40px;
    padding: 40px 80px;
    flex-wrap: wrap;
}

footer div {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    min-width: 250px;
    max-width: none;
}

footer div p {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 15px;
}

footer div a {
    color: black;
    text-decoration: none;
    font-size: 15px;
}

footer div a i {
    margin-right: 7px;
}

footer .communication-block {
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 370px;
    max-width: none;
}

footer .communication-block span {
    font-size: 15px;
    margin-bottom: 15px;
}

footer .communication-block button {
    height: 37px;
    width: 180px;
    border: none;
    border-radius: 3px;
    background-color: rgb(40, 114, 79);
    color: white;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
}