.preview-background {
    position: relative;
    margin-bottom: 100px;
}

.preview-background img {
    width: 100%
}

.preview-background-description {
    background-color: rgba(40, 114, 79, 0.88);
    position: absolute;
    top: 0;
    left: -41%;
    bottom: 4px;
    width: 41%;
    display: flex;
    align-items: center;
    justify-content: center;
    animation-name: background-title-animation;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}

.preview-background-description div {
    margin-inline: 120px;
}

.preview-background-description .preview-background-title {
    font-size: 26px;
    font-weight: 500;
    color: white;
    margin-bottom: 15px;
}

.preview-background-description .preview-background-inner {
    font-size: 15px;
    color: white;
    margin-bottom: 15px;
}

.preview-background-description .start-button {
    background-color: white;
    border: none;
    border-radius: 3px;
    height: 37px;
    width: 100px;
    font-size: 15px;
    font-weight: 500;
    color: rgba(40, 114, 79, 0.85);
    cursor: pointer;
    margin-right: 12px;
}

.preview-background-description .start-button:hover {
    background-color: rgb(238, 238, 238);
}

.preview-background-description a {
    color: white;
    text-decoration: none;
}

.preview-background-description a:hover {
    border-bottom: 1px white solid;
}

@media (max-width: 1165px) {
    .preview-background-description {
        background-color: rgb(40, 114, 79);
        top: 100%;
        left: 0;
        right: 0;
        height: 85%;
        width: 100%;
        animation: none;
    }

    .preview-background {
        margin-bottom: 30%;
    }

    .preview-background-description .start-button {
        color: rgb(40, 114, 79);
    }
}

@media (max-width: 880px) {
    .preview-background-description {
        height: 80%;
    }

    .preview-background {
        margin-bottom: 35%;
    }

    .preview-background-description div {
        margin-inline: 80px;
    }

    .preview-background img {
        height: 250px;
        object-fit: cover;
    }
}

@media (max-width: 750px) {
    .preview-background-description {
        height: 80%;
    }

    .preview-background {
        margin-bottom: 40%;
    }

    .preview-background-description div {
        margin-inline: 70px;
    }
}

@media (max-width: 670px) {
    .preview-background-description {
        height: 80%;
    }

    .preview-background {
        margin-bottom: 50%;
    }

    .preview-background-description div {
        margin-inline: 50px;
    }
}

@media (max-width: 600px) {
    .preview-background-description .preview-background-title {
        font-size: 20px;
        margin-bottom: 10px;
    }

    .preview-background-description .preview-background-inner {
        font-size: 10px;
        margin-bottom: 10px;
    }
}

@keyframes background-title-animation {
    0% {
        left: -41%;
    }
    100% {
        left: 0;
    }
}