main {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    row-gap: 20px;
    column-gap: 20px;
}

@media (max-width: 1720px) {
    main {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}

@media (max-width: 1520px) {
    main {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}

@media (max-width: 1320px) {
    main {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media (max-width: 1120px) {
    main {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-width: 920px) {
    main {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 720px) {
    main {
        grid-template-columns: 1fr;
    }
}