.preview-info-title {
    margin-left: 130px;
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 500;
}

.preview-info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 30px;
    row-gap: 40px;
    padding-inline: 130px;
    margin-bottom: 120px;
}

@media(max-width: 1350px) {
    .preview-info {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        padding-inline: 50px;
    }

    .preview-info-title {
        margin-left: 50px;
    }
}

@media (max-width: 800px) {
    .preview-info {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        padding-inline: 50px;
    }

    .preview-info-title {
        margin-left: 50px;
    }
}

.preview-info section .preview-image {
    margin-bottom: 20px;
}

.preview-info section .preview-image img {
    width: 100%;
    object-fit: cover;
}

.preview-info section .inner-container .inner-title {
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 15px;
}

.preview-info section .inner-container .inner {
    font-size: 15px;
}